.card-banners {
	position: relative;
	top: 0;
	left: 0;
		max-width: 1920px;
	width: 100%;
	height: 390px
}
.container.card-banners__container {
	position: absolute;
	max-width: 1920px;
	width: 100%;
	height: 390px;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	padding: 40px 0px 0px 0px;
}
a.card-banners__poster {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

a.card-banners__poster--men {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	color: $white;
	border-color: $white;
}
h3.card-banners__title {
	position: inherit;
	top: 0;
	left: 0;
	font-size: 48px;
	font-family: "Jost";
	line-height: 1.2;
	text-align: center;
	font-weight: 500;
}
span.card-banners__text {
	position: relative;
	top: 0;
	left: 0;
	font-size: 15px;
	line-height: 1.2;
	text-align: center;
	border-bottom: solid 2px;
}

a.card-banners__poster--men:hover::after {
	content: "960x420";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: $gray;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
		font-weight: 500;
	font-size: 58px;
	line-height: 64px;
	letter-spacing: 0.6px;

}

a.card-banners__poster--women {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	color: $white;
	border-color: $white;
}

a.card-banners__poster--women:hover::after{
	content: "960x420";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: $gray;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 58px;
	line-height: 64px;
	letter-spacing: 0.6px;
}
