.header{
	width: 100%;
	&__container{
		max-width: 1920px;
		width: 100%;
		padding-top: 26px;
		padding-bottom: 26px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.catalog-header{
	padding-top: 33px;
}
